/* User Profile */
#user_profile_wrapper{
	width:960px;
	margin:20px auto;
}

#user_profile_left{
	width:230px;
	float:left;
}
#user_profile_right{
	width:560px;
	margin-right:80px;
	float:right;
}

.user_discussions{
	margin:5px 0 0 0;
	padding:1px 0 0 0;
	border-top:0px solid #CCC;
	background: -moz-linear-gradient(left, rgba(204,204,204,0) 0%, rgba(204,204,204,1) 50%, rgba(204,204,204,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(204,204,204,0)), color-stop(50%,rgba(204,204,204,1)), color-stop(100%,rgba(204,204,204,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(204,204,204,0) 0%,rgba(204,204,204,1) 50%,rgba(204,204,204,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(204,204,204,0) 0%,rgba(204,204,204,1) 50%,rgba(204,204,204,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(204,204,204,0) 0%,rgba(204,204,204,1) 50%,rgba(204,204,204,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(204,204,204,0) 0%,rgba(204,204,204,1) 50%,rgba(204,204,204,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cccccc', endColorstr='#00cccccc',GradientType=1 ); /* IE6-9 */
}
.user_discussions .discussion{
	position:relative;
	margin:0 0 1px 0;
	padding:10px 10px;
	background:url('/images/background.png') repeat;
	border-bottom:0px solid #CCC;
	border-top:0px solid #f7f7f7;
	color:#555;
}
.user_discussions .discussion_type{
	position:absolute;
	top:0px;
	left:50%;
	width:100px;
	margin-left:-50px;
	padding:0px 4px;
	background:#CCC;
	text-align:center;
	color:#666;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.user_discussions .discussion_header{
	margin:0;
	padding:0;
}
.user_discussions .discussion_header a.discussion_title{
	font-size:13px;
}
.user_discussions .discussion_header p.discussion_type{
	clear:right;
	float:right;
	margin:0 0 2px 0;
	padding:0;
}
.user_discussions .discussion_header p.discussion_time{
	clear:right;
	float:right;
	margin:0 0 2px 0;
	padding:0;
	color:#777;
}
.user_discussions p.discussion_text{
	clear:both;
	margin:5px 0 0 0;
	padding:0;
	text-align:justify;
	font-size:11px;
}


/* Login Register */
#login_register_wrapper{
	width:960px;
	margin:40px auto;
}
#login_register_wrapper h1{
	margin:0px 0 10px 140px;	
	color:#666;
	font-size:18px;
	font-weight:normal;
	text-shadow:1px 1px #FFF;
}
#login_register_wrapper label{
	width:125px;
}
#login_wrapper{
	float:left;
	width:449px;
	height:350px;
	padding:0px 15px;
	border-right:1px solid #BBB;
	overflow:none;
}
#register_wrapper{
	float:right;
	width:449px;
	height:350px;
	padding:0px 15px;
	border-left:1px solid #FAFAFA;
	overflow:none;
}

#social_login_buttons{
	margin-left:140px;
	text-align:center;
}
#social_login_buttons a{
	opacity:0.7;
	display:block;
	width:202px;
	height:36px;
	background:url('/images/social_buttons.png') no-repeat;
}
#social_login_buttons a:hover{
	opacity:1;
}

#social_login_buttons a#fb_login_button{
	background-position:0px 0px;
}
#social_login_buttons a#tw_login_button{
	margin-top:15px;
	background-position:0px -50px;
}

/* Account Profile Edit */
.social_connect_button{
	float:left;
	display:block;
	width:282px;
	height:32px;
	margin:5px 0 0 5px;
	background:url('/images/social_buttons.png') no-repeat;
	opacity:0.7;
}
.social_connect_button#connect_fb{
	background-position:0px -150px;
}
.social_connect_button#fb_connected{
	background-position:0px -250px;
}
.social_connect_button.disconnectable#fb_connected:hover{
	background-position:0px -350px;
	opacity:1;
}
.social_connect_button#connect_tw{
	background-position:0px -100px;
}
.social_connect_button#tw_connected{
	background-position:0px -200px;
}
.social_connect_button.disconnectable#tw_connected:hover{
	background-position:0px -300px;
	opacity:1;
}
.social_connect_button#connect_fb:hover, .social_connect_button#connect_tw:hover{
	opacity:1;
}

/** Set Password **/
#set_password_wrapper{
	width:760px;
	margin:40px auto;
}
#set_password_wrapper p{
	color:#666;
}
#set_password_wrapper h1{
	margin:0px 0 10px 0px;	
	color:#666;
	font-size:18px;
	font-weight:normal;
	text-shadow:1px 1px #FFF;
}
#set_password_form{
	margin:40px 0 0 150px;
}
#set_password_wrapper label{
	width:125px;
}

/** Change Password **/
#change_password_wrapper{
	width:760px;
	margin:40px auto;
}
#change_password_wrapper p{
	color:#666;
}
#change_password_wrapper h1{
	margin:0px 0 10px 0px;	
	color:#666;
	font-size:18px;
	font-weight:normal;
	text-shadow:1px 1px #FFF;
}
#change_password_form{
	margin:40px 0 0 150px;
}
#change_password_wrapper label{
	width:125px;
}

/** Forgot Password **/
#forgot_password_wrapper{
	width:760px;
	margin:40px auto;
}
#forgot_password_wrapper p{
	color:#666;
}
#forgot_password_wrapper h1{
	margin:0px 0 10px 0px;	
	color:#666;
	font-size:18px;
	font-weight:normal;
	text-shadow:1px 1px #FFF;
}
#forgot_password_form{
	margin:40px 0 0 0px;
}
#forgot_password_wrapper label{
	width:125px;
}